body {
    background-color: #C4C4C4;
    width: 95%;
    margin: 0 auto;
}

header {
    display: flex;
    height: 70px;
}

.header_button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    margin: 0 auto;
}

#profile_wrapper {
    width: 100%;
    display: flex;
}

#profile_img {
    flex: 1.2;
}

#profile_img>img,
.illust_img>img {
    max-width: 100%;
    height: auto;
}

#profile_content {
    flex: 1;
}

.year_wrapper {
    background-color: #dbdbdb;
}

.illust_content {
    display: flex;
}

.illust_content>div {
    flex: 1;
}

.year_header {
    display: flex;
    font-size: 36px;
}