body {
    background-color: #dbdbdb;
    width: 100%;
}

header {
    display: flex;
    height: 70px;
}

.header_button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    margin: 0 1rem;
}

#profile_wrapper {
    width: 100%;
    display: flex;
}

#profile_img {
    flex: 1.2;
}

#profile_img>img {
    max-width: 100%;
    height: auto;
}

#profile_content {
    flex: 1;
}